html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.navbar-margin {
  margin-right: 5rem;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: xxx-large;
}

h2 {
  font-size: xx-large;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
